* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

img {
  width: 100%;
  overflow: hidden;
}

img.illustration-hero {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body {
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #e0e8ff;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  width: 23.5em;
  margin: 5% auto;
  border-radius: 10px;
  background-color: white;
  line-height: 1.5em;
  text-overflow: hidden;
}

h1 {
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #1f2f56;
}

p.sub-content {
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 0 40px;
  color: #7280a7;
  line-height: 1.5em;
}

img.icon {
  width: 40px;
  height: auto;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px;
  margin-top: 5px;
  background-color: #f5f7ff;
  padding: 1em;
  border-radius: 5px;
}

.special {
  margin-left: auto;
  font-weight: 700;
  font-size: small;
}

.special a:hover {
  text-decoration: none;
}

.subPricing {
  margin-left: 20px;
}

.plan {
  font-weight: 700;
  color: #1f2f56;
}

.price {
  color: #7280a7;
}

.payment {
  text-align: center;
  font-size: small;
  margin: 0 40px;
  margin-top: 25px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #3829e0;
  -webkit-box-shadow: 1px 20px 10px #e0e8ff;
          box-shadow: 1px 20px 10px #e0e8ff;
}

.payment #payment {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.payment:hover {
  opacity: 0.6;
}

.cancel {
  text-align: center;
  font-size: small;
  padding: 25px 0;
}

.cancel a {
  text-decoration: none;
  font-weight: 700;
  color: #7280a7;
}

.cancel a:hover {
  color: #1f2f56;
}

@media screen and (max-width: 375px) {
  .container {
    width: 90%;
    line-height: 1.3;
  }
  body {
    background-image: url(/images/pattern-background-mobile.svg);
    background-color: #e0e8ff;
  }
  .special {
    margin: 5px auto;
  }
}
